---
---

.admonitionblock td.icon {
  [class^="fa icon-"] {
    font-size: 2.5em;
    padding: 10px;
    cursor: default;
  }

  .icon-note:before {
    content: "\f05a";
  }

  .icon-tip:before {
    content: "\f0eb";
    color: #111;
  }

  .icon-warning:before {
    content: "\f071";
  }

  .icon-caution:before {
    content: "\f06d";
  }

  .icon-important:before {
    content: "\f06a";
  }
}
