---
---

@import 'constants';

#header {
  display: flex;
  align-items: center;
  align-self: center;
  @include border-style;
  border-width: 0 0 $separator-width 0;
  margin-left: $separator-margin;
  margin-right: $separator-margin;
  padding-left: $separator-margin;
  padding-right: $separator-margin;
  max-width: 100vw;
  a {
      @include disable-links;
  }
}

#authorname {
  flex-grow: 1;
}

#actions a:not(:last-child) {
  margin-right: $separator-margin / 2;
}
