---
---

@import 'constants';

#header {
  display: flex;
  align-items: center;
  align-self: center;
  @include border-style;
  border-width: 0 0 $separator-width 0;
  margin-left: $separator-margin;
  margin-right: $separator-margin;
  a {
    @include disable-links;
  }
}

#authorname {
  flex: 1;
  margin-left: 15px;
}

#googleplus {
  margin-right: 20px;
}

#twitter {
  margin-right: 20px;
}

#key {
  margin-right: 20px;
}
#email {
  margin-right: 20px;
}

#search {
  margin-right: 15px;
}

#github {
  margin-right: 20px;
}

#resume {
  margin-right: 20px;
}

#newsfeed {
  margin-right: 20px;
}

#schedule {
  margin-right: 20px;
}
