---
---

@import 'constants';

#site {
  grid-template-rows: $header-heigth auto $license-heigth;
  grid-template-columns: $navigation-width 1fr;
  grid-template-areas:
    "header     header"
    "navigation content"
    "navigation license";
}
