---
---

@import 'constants';

#site {
  display: grid;
  grid-template-rows: auto auto $license-heigth;
  grid-template-columns: 1fr;
  grid-template-areas:
    "content"
    "navigation"
    "license";
}

#header {
  grid-area: header;
  visibility: hidden;
}
#navigation {
  grid-area: navigation;
}
#content {
  grid-area: content;
  padding-left: $separator-margin;
  padding-right: 2 * $separator-margin;
}
#license {
  grid-area: license;
}
