---
---

@import 'constants';

#license {
  @include border-style;
  border-width: $separator-width 0 0 0;
  font-size: small;
  margin-right: $separator-margin;
  margin-left: $separator-margin;
  text-align: center;
  a {
    @include disable-links;
  }
}
