---
---

@import 'constants';

#postHeader a {
  @include disable-links;
}
#post {
  img.centered {
    display: block;
    margin: 4px auto;
    max-width: 60%;
  }
  img.icon {
    margin: 0;
  }
  .paragraph {
    max-width: $post-width;
  }
  .admonitionblock {
    max-width: $post-width;
  }
  a.icon {
    margin-right: -5px;
  }
}
#pubdate {
  font-size: small;
  color: $secondary-color;
  display: block;
}

.listingblock {
  margin-left: 2 * $separator-margin;
}

.bibliography {
  font-size: small;
}

#footnotes {
  margin-bottom: $separator-margin;
  margin-right: $separator-margin;
}
#footnotes hr {
  margin-left: $separator-margin;
  margin-right: 3 * $separator-margin;
  max-width: 35 * $separator-margin;
  margin-bottom: $separator-margin;
}
#footnotes hr:after {
  content: 'Footnotes:';
  font-weight: bold;
}
#footnotes :target  {
   font-weight: bold;
}
