---
---

@import 'constants';

#postHeader a {
  @include disable-links;
}
#post {
  img {
    display: block;
    margin: 4px auto;
    max-width: 60%;
  }
  .paragraph {
    max-width: 95vw;
  }
  .admonitionblock {
    max-width: 95vw;
  }
}
#pubdate {
  font-size: x-small;
  color: $secondary-color;
}

.listingblock {
  margin-left: 30px;
}

.bibliography {
  font-size: small;
}

#footnotes {
  margin-bottom: 15px;
  margin-right: 15px;
}
#footnotes hr {
  margin-left: 15px;
  margin-right: 50px;
  max-width: 550px;
  margin-bottom: 15px;
}
#footnotes hr:after {
  content: 'Footnotes:';
  font-weight: bold;
}
#footnotes :target  {
   font-weight: bold;
}
