body, html {
  margin: 0;
  padding: 0;
}

#mastHead {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: black;
  min-height: 67px;
}

#headTitle {
  box-flex: 5;
  -webkit-box-flex: 5;
  margin-left: 10px;
  font-size: small;
}

#headActions {
  box-flex: 1;
  -webkit-box-flex: 1;
  margin-right: 10px;
  margin-top: 20px;
}

nav {
  background-color: blue;
  width: 20%;
  float: left;
  border: 2px black;
}

section {
  position: relative;
  float: right;
  width: 80%;
}

footer {
  background-color: yellow;
}

article {
  background-color: gray;
}