ul.posts {
  list-style-type: none;
}

ul.posts li {
  line-height: 1.75em;
}

span.post_tags,
span.post_date {
  color: #aaa;
  font-size: 80%
}

span.post_tags {
  display: block;
  line-height: 0.75em;
  margin-left: 5.5em;
}

/** Top-Level Container **/
.site {
  font-size: 110%;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

/** Seitentitel **/
.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

/** Steuert den unteren Strich **/
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .license {
  color: #8085C1;
}

.site .footer .license a {
  color: #8085C1;
}
