<div class="contact vcard" itemscope itemtype="http://schema.org/Person">
  <p>
    <a class="url fn" href="{{ site.author.url }}" itemprop="name">{{ site.author.name }}</a><br />
    <span itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
      <a class="email" href="mailto:{{ site.author.email }}" itemprop="email">{{ site.author.email }}</a>
    </span><br />
    <a href="https://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a>
  </p>
</div>
