<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="{{ site.author.name }}">
  <meta name="subject" content="Software Engineering">
  <meta name="description" content="{{ site.description }}">

  <title>{{ site.author.name }}: {{ page.title }}</title>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <link rel="alternate" type="application/atom+xml" title="{{ site.author.name }}: Latest Posts and Updates" href="/atom.xml">
  <link rel="alternate" type="application/rss+xml" title="{{ site.author.name }}: Latest Posts and Updates" href="/rss.xml">

  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  <link rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/layout-min900px.css" media="screen and (min-width: 900px)">
  <link rel="stylesheet" href="/css/layout-min1200px.css" media="screen and (min-width: 1200px)">
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/navigation-min1200px.css" media="screen and (min-width: 1200px)">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/license.css">
  <link rel="stylesheet" href="/css/license-min1200px.css" media="screen and (min-width: 1200px)">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/post-min1200px.css" media="screen and (min-width: 1200px)">
  <link rel="stylesheet" href="/css/syntax.css">
</head>
<body id="site">

  <header id="header">
    <h1 id="authorname">
      <a href="/" id="rootlink" class="h-card" title="get me back to root">{{ site.author.name }}</a>
      <a href="/sitemap" title="show me all articles" class="sitemap">
        <img src="/images/sitemap.svg" alt="sitemap" height="30" width="30">
      </a>
    </h1>

    <span id="actions">
      <a href="/public-key" id="key" title="show me your keys">
        <img src="/images/key.svg" alt="key" height="30" width="32" style="transform:rotate(90deg);">
      </a>
      <a href="mailto:mail@shoss.de" id="email" title="i want to write you an email">
        <img src="/images/envelope-o.svg" alt="envelope" height="32" width="32">
      </a>
      <a href="https://github.com/{{ site.author.github }}/" id="github" title="want some code?">
        <img src="/images/github.svg" alt="github" height="32" width="32">
      </a>
      <a href="https://twitter.com/sebhoss" id="twitter" title="peep peep peep">
        <img src="/images/twitter.svg" alt="twitter" height="32" width="32">
      </a>
      <a href="/oss-release-calendar" id="schedule" title="when is the next release?">
        <img src="/images/calendar.svg" alt="twitter" height="32" width="32">
      </a>
      <a href="/resume" id="resume" title="need some help?">
        <img src="/images/graduation-cap.svg" alt="graduation-cap" height="32" width="32">
      </a>
      <a href="/atom.xml" id="newsfeed" title="get notified about updates">
        <img src="/images/rss.svg" alt="newsfeed" height="32" width="32">
      </a>
      <a href="https://www.google.com/cse/publicurl?cx=004384174486689999226:9k2cdrrglds" id="search" title="search on this site">
        <img src="/images/search.svg" alt="newsfeed" height="32" width="32">
      </a>
    </span>
  </header>

  <main id="content">
    {{ content }}
  </main>

  <nav id="navigation">
    <ul class="latestPosts">
    {% for post in site.posts limit: site.navitems %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="tag" rel="tag">{{ post.tags | array_to_sentence_string }}</span>
      </li>
    {% endfor %}
    </ul>
  </nav>

  <footer id="license">
    <div class="license">
      <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
        <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
          <img src="/images/cc0.png" style="border-style: none;" alt="CC0" width="88px" height="31px" />
        </a><br />
        To the extent possible under law,
        <a rel="dct:publisher" href="{{ site.url }}">
          <span property="dct:title">{{ site.author.name }}</span>
        </a>
        has waived all copyright and related or neighboring rights to
        <span property="dct:title">{{ site.title }}</span>.
        This work is published from:
        <span property="vcard:Country" datatype="dct:ISO3166" content="EN" about="{{ site.url }}">
          Germany
        </span>
      </p>
    </div>
  </footer>

  <script type="application/ld+json" src="/assets/person-ld.json"></script>
  <script type="application/ld+json" src="/assets/site-ld.json"></script>

</body>
</html>
