---
layout: grid
---
<article id="post" class="h-entry">
  <header id="postHeader">
    <h1 class="p-name">
      <a href="{{ page.url }}" class="u-url">{{ page.title }}</a>
      <a href="https://github.com/{{ site.author.github }}/{{ site.github }}/edit/source/{{ page.path }}" title="edit article" class="icon">
        <img src="/images/pencil.svg" alt="Edit article" height="16" width="14" class="icon">
      </a>
      <a href="https://github.com/{{ site.author.github }}/{{ site.github }}/commits/source/{{ page.path }}" title="view history" class="icon">
        <img src="/images/history.svg" alt="View article history" height="16" width="14" class="icon">
      </a>
    </h1>
    <span class="tag" rel="tag"> talks about: {{ page.tags | array_to_sentence_string }}</span>
    <time pubdate datetime="{{ page.date }}" id="pubdate" class="dt-published">published: {{ page.date | date_to_string }}</time>
  </header>

  <div class="e-content">
    {{ content }}
  </div>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "about": {
        "@type": "Thing",
        "name": "{{ page.tags | array_to_sentence_string }}"
      },
      "accountablePerson": {
        "@id": "#sebhoss",
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "url": "{{ site.url }}",
        "email": "{{ site.author.email }}"
      },
      "audience": {
        "@type": "Audience",
        "audienceType": "software developers",
        "name": "monkeys"
      },
      "author": {
        "@id": "#sebhoss"
      },
      "creator": {
        "@id": "#sebhoss"
      },
      "dateModified": "{{ page.date }}",
      "datePublished": "2016-01-02",
      "editor": {
        "@id": "#sebhoss"
      },
      "publisher": {
        "@type": "Organization",
        "name": "metio.wtf",
        "url": "http://metio.wtf/",
        "email": "whatsup@metio.wtf",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/images/alseki.png",
          "height": 696,
          "width": 696
        },
        "founder": {
          "@id": "#sebhoss"
        }
      },
      "fileFormat": "text/html",
      "keywords": "software, development, project, management",
      "license": "https://creativecommons.org/publicdomain/zero/1.0/",
      "name": "{{ page.title }}",
      "headline": "{{ page.title }}",
      "mainEntityOfPage": "{{ site.url }}{{ page.url }}",
      "url": "{{ site.url }}{{ page.url }}",
      "image": {
        "@type": "ImageObject",
        "contentUrl": "{{ site.url }}/images/alseki.png",
        "url": "{{ site.url }}/images/alseki.png",
        "height": 696,
        "width": 696,
        "author": "{{ site.author.name }}",
        "datePublished": "2016-01-02",
        "dateModified": "2016-01-02",
        "name": "website logo"
      }
    }
  </script>
</article>
